APScheduler==3.6.3
branca==0.8.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==38.0.4
decorator==5.1.1
flake8==7.1.1
folium==0.19.0
geographiclib==2.0
geopy==2.4.1
idna==3.10
Jinja2==3.1.4
MarkupSafe==3.0.2
mccabe==0.7.0
numpy==2.2.0
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
pyOpenSSL==22.1.0
python-dotenv==1.0.1
python-telegram-bot==13.0
pytimeparse==1.1.8
pytz==2024.2
requests==2.32.3
setuptools==75.6.0
six==1.16.0
standard-imghdr==3.13.0
tornado==6.4.1
tzdata==2024.2
tzlocal==5.2
urllib3==1.26.17
xyzservices==2024.9.0
